@use "sass:map";
@use '/resources/scss/abstracts/mixin' as m;
@use '/resources/scss/abstracts/variables' as v;

* {
    @include m.spacing(0%, 0%); 
    overflow-x: hidden;
}

body{
    overflow: hidden;
    @include m.center-grid(1fr, 20vh 1fr, 100vh, 100vw);

    .container_header{
        background-color: map.get(v.$colors, "jetBlack"); 
        margin-top: 1vw;              
        @include m.center-flex(row, space-evenly, center, 60vw, 80%, 100vw);

        a{
            padding: 1.1%;
            font-size: 1.3vw;
            @include m.border-radius(100%);
            border: 1px solid white;  
            display: flex;
            align-items: center;
            text-decoration: none;
        

            i{
                color: map.get(v.$colors, "offWhite");
            }
        }
        
        .header_h1{
            text-transform: uppercase;
            color: map.get(v.$colors, "offWhite");
            @include m.font-style(2.2vw, none, none, center, center, none);
        }
    }

    .container_main{
        @include m.center-flex(row, center, center, none, 95%, 100vw);

        .form_main{
            @include m.center-grid(65% 1fr ,1fr, 100%, 97%);

            .figure_main{
                @include m.center-flex(column, start, start, 15px, 99.5%, 96%);

                .shopping_main{
                    @include m.center-flex(row, space-evenly, center, 22vw, 20%, 100%);
                    border-bottom:  1px solid map.get(v.$colors, "lightGray");

                    .name_shopping {
                        width: 45%;
                        @include m.font-style(2.3vw, none, none, center, center, none);
                        color: map.get(v.$colors, "jetBlack");
                    }

                    .count_shopping{
                        @include m.font-style(1vw, none, none, center, center, none);
                        color: map.get(v.$colors, "lightGray");
                    }
                }

                .article_main{
                    @include m.center-flex(column, start, start, 8px, 67%, 100%);
                    overflow-y: scroll;
                    flex-wrap: nowrap;
                    scrollbar-width: none; // Firefox
                    -ms-overflow-style: none; // IE/Edge
                    
                    &::-webkit-scrollbar {
                        display: none; // Chrome/Safari
                    }

                    .items_main{
                        @include m.center-flex(row, center, start, none, 50%, 100%);
                        min-height: 35%;
                        border-bottom: 1px solid  map.get(v.$colors, "lightGray");
                        flex-shrink: 0;

                        .image_main{
                            @include m.center-flex(row, center, center, none, 96%, 15%);

                            .image_cart{
                                @include m.size(95%, 95%);
                                object-fit: cover;
                            }
                        }

                        .date_main{
                            @include m.center-flex(column, center, start, none, 96%, 35%);
                            padding-left: 2.5vw;

                            .category_main{
                                @include m.font-style(1vw, none, none, center, center, none);
                                color: map.get(v.$colors, "jetBlack");                  
                            }

                            .name_main{
                                @include m.font-style(1.2vw, none, none, center, center, none);
                                color: map.get(v.$colors, "jetBlack");
                            }

                            .march_main{
                                padding-left: .2vw;
                                @include m.font-style(.8vw, none, none, center, center, none);
                                color: map.get(v.$colors, "middleGray");
                            }
                        }

                        .select_count{
                            @include m.center-flex(row, center, center, 10px, 96%, 20%);  

                            .count_option{
                                cursor: pointer;
                                @include m.font-style(1.3vw, none, none, center, center, none);
                                color: map.get(v.$colors, "jetBlack");
                            }

                            .option_input{
                                border: none;
                                outline: none;
                                width: 20%;
                                height: 20%;
                                text-align: center;
                            }
                        }

                        .price_main{
                            @include m.center-flex(row, center, center, none, 96%, 15%);
                        }

                        .icon_main{
                            @include m.center-flex(row, center, center, none, 96%, 10%);

                                .delete_main{
                                    @include m.center-flex(none, center, center, none, 100%, 100%);
                                    text-decoration: none;

                                    i{
                                       font-size: 1.2vw;
                                       color : map.get(v.$colors, "jetBlack");
                                    }
                                }

                        }     
                    }           
                }

                .redirect_main{
                    border: 1px solid black;
                    @include m.center-flex(row, center, center, 10px, 10%, 23%);
                    margin-left: .2vw;
                    @include m.border-radius(3px);
                    cursor: pointer;
                    transition: .2s all;

                    i{
                        padding-top: .3vw;
                        font-size: 1vw
                    }

                    a{
                        @include m.font-style(1.1vw, none, none, center, center, none);
                        color: map.get(v.$colors, "jetBlack");
                        
                    }

                    &:hover{
                        color: map.get(v.$colors, "pearlWhite");
                        background-color: map.get(v.$colors, "jetBlack");

                        a{
                            color: map.get(v.$colors, "pearlWhite");
                        }
                    }
                }
            }

            .aside_main{
                background-color: map.get(v.$colors, "veryLightGray");
                box-shadow: -10px 0 35px 5px map.get(v.$colors, "veryLightGray");
            } 
        }
    }
}

