@use "sass:map";
@use '/resources/scss/abstracts/mixin' as m;
@use '/resources/scss/abstracts/variables' as v;

* {
    @include m.spacing(0%, 0%); 
}

/* ANIMACIONES BASE */
@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(60px); }
    to { opacity: 1; transform: translateY(0); }
}

body {
    position: relative;
    background-color: map.get(v.$colors, "ebonyBlack");
    @include m.center-flex(column, center, center, none, 100%, 100%);
    overflow: hidden;
    
    /* ESTRUCTURA PRINCIPAL */
    .section {
        opacity: 0;
        transition: opacity 0.6s ease, transform 0.6s ease;
        @include m.size(100vh, 100%); 
        
        &.visible {
            opacity: 1;
            animation: fadeInUp 0.8s ease-out forwards;
        }
    }

    /* SECCIONES CON DELAYS */
    .section_introduction {
        background-color: map.get(v.$colors, "pureWhite");
        @include m.center-grid(1fr, 6vh 1fr, 99.5vh, 100%);
        animation: none;

        .span_introduction{
            @include m.size(100%, 100%);
            border: 1px solid black;
        }

        .header_introduction{
            background-color: map.get(v.$colors, "veryLightGray");
            position: fixed;
            top: 0; 
            left: 0; 
            width: 100vw; 
            z-index: 1000; 
            border: 1px solid black;
            margin-top: 6vh; 
            @include m.center-flex(row, space-evenly, center, 8vw, 20vh, 100%);

            .header_h1{
                @include m.font-style(3.2vw, bold, .5px, none, left, none);
            }

            .header_nav{
                @include m.center-flex(row, space-between, center, none, 100%, 35%);

                .btn_nav{
                    padding: 2% 3%;
                    @include m.font-style(.9vw, none, .8px, none, left, none);
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
            }

            .header_figure{
                border: 1px solid black;
                @include m.center-flex(row, space-evenly, center, none, 45%, 4%);
                @include m.border-radius(100%);
                overflow: hidden;

                a{
                    @include m.size(100%, 100%);
                    @include m.center-flex(row, space-evenly, center, none, 100%, 100%);
                    @include m.border-radius(100%);
                    overflow: hidden;
                    text-decoration: none;

                    .image_figure{
                        @include m.size(100%, 100%);
                        object-fit: cover;
                    }
                }
            }
        }

        .figure_introduction {
            background-color: map.get(v.$colors, "mediumGray");
            margin-top: 20vh;
            width: 100vw;
            height: 73.5vh;
            position: relative;
            overflow: hidden;
            
            .image_carrusel {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 1s ease, transform 1s ease;
                
                &.active {
                    opacity: 1;
                    transform: translateX(0);
                    z-index: 2;
                }
                
                &.next {
                    transform: translateX(100%);
                    z-index: 1;
                }
                
                &.prev {
                    transform: translateX(-100%);
                    z-index: 1;
                }
            }
        }
    }

    .section_outlet {
        background-color: map.get(v.$colors, "pureWhite");
        @include m.center-grid(1fr, 1fr 30%, 100vh, 100vw);
        animation-delay: 0.2s;

        .container_outlet{
            @include m.center-flex(row, start, center, 3vw, 85%, 90%);
            margin-left: 3vw;
            padding: 2%;
            overflow-x: auto;
            flex: 0 0 auto;
            max-width: 90%;

            overflow-y: scroll;  
            scrollbar-width: none; 
          
            .span_outlet {
                @include m.center-grid(1fr, 90% 10%, 100%, 15%);
                flex-shrink: 0;
                max-width: 15%;
                position: relative;
              
                    .figure_outlet {
                    position: relative;
                    @include m.center-flex(row, center, center, none, 100%, 100%);
                    overflow: hidden; 
                
                    .image_outlet {
                        @include m.size(99%, 100%);
                        object-fit: cover;
                        border: 1px solid black;
                        transition: transform 0.3s ease; 
                    }
                
                    .container_cart {
                        position: absolute;
                        bottom: -50px;
                        left: 0;
                        height: 10vh;
                        background: rgba(0, 0, 0, 0.7); 
                        color: white;
                        @include m.center-flex(row, space-evenly, center, none, 10%, 100%);
                        padding: 8px 0;
                        transition: all 0.3s ease;
                        transform: translateY(100%); 
                        z-index: 10;
                        transition: .8s all;

                
                        button {
                        padding: 4% 20%;
                        border: 1px solid white;
                        background: map.get(v.$colors, "pureWhite");
                        color:  map.get(v.$colors, "midnightBlack");
                        cursor: pointer;
                        @include m.font-style(0.7vw, bold, 2px, none, center, none);
                        text-transform: uppercase;
                        margin-right: 5px;
                        }
                
                        i {
                            font-size: 1.05vw;
                        }
                    }
                
                    &:hover {
                        .container_cart {
                            transform: translateY(0); 
                            bottom: 0; 
                        }
                
                            .image_outlet {
                                opacity: .7;
                                transition: .8s all;
                                transform: scale(1.05); 
                            
                            }
                        }
                    }
                
                    .outlet_dates {
                    @include m.center-grid(1fr 30%, 1fr, 100%, 100%);
                
                    .outlet_name {
                        @include m.center-flex(column, start, start, none, 100%, 100%);
                        padding-left: 0.2vw;
                
                        .outlet_h3 {
                        padding-top: 0.4vw;
                        @include m.font-style(0.55vw, bold, 0.5px, none, left, none);
                        }
                
                        .outlet_p {
                        padding-left: 0.1vw;
                        @include m.font-style(0.65vw, none, 0.5px, none, left, none);
                        }
                    }
                
                    .outlet_price {
                        padding-top: 1vw;
                        padding-left: 0.8vw;
                        @include m.font-style(0.65vw, none, 0.5px, none, left, none);
                    }
                }
            }
        }

       .span_oulet {
            @include m.size(100%, 100%);
            overflow: hidden;
            position: relative;

            .carrusel-track {
                display: flex;
                @include m.size(100%, 200%);
                animation: tren-effect 20s linear infinite;
    
                .image_outlet {
                    @include m.size(100%, 16.666%);
                    object-fit: cover;
                    flex-shrink: 0;
                    }
                }
            }

        @keyframes tren-effect {
            0% { transform: translateX(0); }
            100% { transform: translateX(-50%); }
        }
    }

    .section_comunity {
        background-color: map.get(v.$colors, "pearlWhite");
        @include m.center-flex(row, center, start, 2%, 60vh, 100%);
        animation-delay: 0.3s;

        .article_comunity{
            @include m.center-flex(column, center, start, 8%, 100%, 100%);
            padding-left: 8vw;

            .comunity_h2{
                @include m.font-style(2.8vw, bold, .5px, none, left, none);
            }

            .comunity_p{
                width: 82.5%;
                @include m.font-style(1.2vw, none, 1.5px, none, left, none);
            }
        }

        .span_comunity{
            @include m.center-flex(row, center, start, 2%, 100%, 100%);

            .figure_comunity{
                @include m.center-flex(row, center, center, 1%, 70%, 20%);
                @include m.border-radius(4px);
                background-color: map.get(v.$colors, "veryLightGray");
                border: 1px solid black;

                .image_comunity{
                    @include m.size(100%, 100%);
                    object-fit: cover;
                }
            }
        }
    }

    .section_category {
        background-color: map.get(v.$colors, "pearlWhite");
        @include m.center-grid(1fr, 48% 12% 1fr, 200vh, 100%);
        animation-delay: 0.6s;

        .figure_category{
            background-color: map.get(v.$colors, "midnightBlack");
            @include m.center-flex(none, center, center, none, 100%, 100%);
            overflow: hidden;

            .image_category{
                @include m.size(100%, 100%);
                object-fit: cover;
                opacity: .4;
                transition: .8s all;

                
                &:hover{
                    transform: scale(1.05); 
                }
            }
        }

        .main_category{
            background-color: map.get(v.$colors, "offWhite");
            @include m.center-flex(row, center, center, none, 100%, 100vw);
            overflow: hidden;

            .article_category{
                @include m.center-flex(column, center, center, 10%, 100%, 25%);

                .article_h5{
                    text-transform: uppercase;
                    @include m.font-style(1.3vw, bold, 2px, none, left, none);
                }

                .article_btn{
                    padding: 2.8% 9%;
                    background-color: transparent;
                    color:  map.get(v.$colors, "darkGray");
                    border: 1px solid map.get(v.$colors, "darkGray");
                    @include m.border-radius(4px);
                    cursor: pointer;
                    transition: .8s all;
                    text-decoration: none;

                    &:hover{
                        background-color: map.get(v.$colors, "darkGray");
                        color:  map.get(v.$colors, "veryLightGray");
                        border: none;
                    }
                }
            }
        }

        .container_category{
            background-color: map.get(v.$colors, "offWhite");
            overflow: hidden;
            @include m.center-flex(row, center, center, .1%, 99.9%, 100%);

            .image_category{
                @include m.size(100%, 20%);
                object-fit: cover;
                transition: .8s all;
                
                &:hover{
                    transform: scale(1.1); 
                }
            }
        }
    }

    .section_services {
        background-color: map.get(v.$colors, "pearlWhite");
        animation-delay: 0.5s;
        @include m.center-flex(row, center, center, 8%, 80vh, 100%);
        padding: 3%;

        .article_services{
            @include m.center-flex(column, space-between, center, none, 48%, 25%);
            padding-top: 1vw;

            .image_services{
                @include m.size(30%, 20%);
                object-fit: cover;
            }

            .services_p{
                margin-bottom: 3vw;
                @include m.font-style(.85vw, none, 1.5px, none, center, none);
            }
        }
    }

    .section_banner {
        background-color: map.get(v.$colors, "midnightBlack");
        @include m.center-flex(none, center, center, none, 90vh, 100%);
        animation-delay: 0.4s;

        .image_event{
            @include m.size(100%, 100%);
            object-fit: cover;
            opacity: .6;
        }
    }

    .section_sets {
        overflow: hidden;
        background-color: map.get(v.$colors, "offWhite");
        animation-delay: 0.7s;
        @include m.center-flex(column, center, center, none, 120vh, 100vw);

        .container_sets{
            margin-bottom: 8vw;
            @include m.center-flex(column, space-between, center, none, 80vh, 60%);

            .span_sets{
                @include m.center-flex(none, center, center, none, 18vh, 100%);
                background-color: map.get(v.$colors, "midnightBlack");
                
                .span_h3{
                    @include m.font-style(4vw, none, 20px, none, center, none);
                    color: map.get(v.$colors, "veryLightGray");
                }
            }

            .figure_span{
                position: relative;
                @include m.center-flex(row, space-evenly, center, 1vw, 50vh, 100%);


                .span_p{
                    @include m.font-style(5vw, none, 5px, none, center, none);

                }

                .image_span{
                    @include m.size(100%, 35%);
                    object-fit: cover;
                }
            } 
        }

        .redirect_span{
            @include m.center-flex(row, center, center, none, 10vh, 60%);
            margin-top: -7vw;;

            .redirect_p{
                @include m.center-flex(row, center, center, none, 10vh, 100%);
                @include m.border-radius(4px);
                @include m.font-style(1.7vw, bold, none, none, left, none);

                .redirect_btn{
                    margin: 1.2%;
                    padding: 1.5% 5%;
                    transition: .8s all;
                    cursor: pointer;
                    @include m.font-style(.9vw, none, none, none, left, none);

                    &:hover{
                        background-color: map.get(v.$colors, "midnightBlack");
                        color: map.get(v.$colors, "veryLightGray");
                    }
                }
            }
        }
    }

    .section_footer {
        position: relative;
        background-color: map.get(v.$colors, "offWhite");
        @include m.center-flex(column, space-between, center, 2%, 100vh, 100%);
        animation-delay: 0.8s;

        .span_email{
            margin-top: 5%;
            background-color: map.get(v.$colors, "jetBlack");
            @include m.center-flex(row, space-between, center, 2%, 18vh, 100%);

            .figure_email{
                @include m.center-flex(none, center, center, none, 17.8vh, 20%);

                .image_email{
                    @include m.size(90%, 90%);
                    object-fit: contain;
                }
            }

            .form_email{
                @include m.center-flex(none, center, center, none, 99%, 50%);

                .input_email{
                    @include m.size(32%, 40%);
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid white;
                    outline: none;
                    padding-left: 1.5vw;
                    padding-right: 2vw;
                    @include m.font-style(.85vw, none, 1.5px, none, left, none);
                    color: map.get(v.$colors, "veryLightGray");

                    &::placeholder{
                        color: map.get(v.$colors, "veryLightGray");
                    }

                }

                .btn_email{
                    padding: 1.75% 2%;
                    background-color: map.get(v.$colors, "pureWhite");
                    color:  map.get(v.$colors, "jetBlack");
                    border: none;
                    @include m.font-style(.85vw, none, 1.5px, none, left, none);
                    @include m.border-radius(4px);
                    cursor: pointer;

                }
            }
        }

        .container_footer{
            background-color: map.get(v.$colors, "jetBlack");
            @include m.center-flex(row, space-evenly, start, none, 65vh, 100%);
            color: map.get(v.$colors, "pearlWhite");;

            .span_footer {
                padding-top: 2.85vw;
                @include m.center-flex(column, start, start, 2%, 90%, 14%);
            
                .footer_h3 {
                    color: map.get(v.$colors, "pearlWhite");
                    @include m.font-style(1.7vw, bold, none, none, left, none);
                    margin-bottom: .2vw;
                    margin-left: .4vw;
                }
            
                .footer_p {
                    margin-left: .4vw;
                    color: map.get(v.$colors, "pearlWhite");
                    @include m.font-style(.7vw, none, 1px, none, left, none);
                }
            
                .footer_media {
                    margin-top: 1.2vw;
                    @include m.center-flex(row, start, start, 1%, 15%, 100%);
                    border-bottom: 1px solid white;
                    color: map.get(v.$colors, "pearlWhite");
            
                    a {
                        @include m.center-flex(row, center, center, 1%, 75%, 19%);
                        color: map.get(v.$colors, "pearlWhite");
                        text-decoration: none;
            
                        i {
                            color: map.get(v.$colors, "pearlWhite");
                            cursor: pointer;
                            font-size: 1.2vw;
                            padding: 0.5rem;
                            @include m.border-radius(50%);
                            transition: transform 0.3s ease;
            
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
            
                    .footer_h5 {
                        border: 1px solid white;
                        color: map.get(v.$colors, "pearlWhite");
                        @include m.font-style(1vw, none, 2px, none, left, none);

                    }
                }
            
                .footer_h5 {
                    padding-left: 1vw;
                    color: map.get(v.$colors, "pearlWhite");
                    text-transform: uppercase;
                    @include m.font-style(1.5vw, bold, none, none, left, none);
                    margin-bottom: 1.5vw;
                }
            
                .footer_a {
                    color: map.get(v.$colors, "pearlWhite");
                    padding-left: 1.5vw;
                    text-decoration: none;
                    margin-bottom: .5vw;
                    @include m.font-style(.9vw, none, 2px, none, left, none);

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
        }

        .copy_footer{
            position: absolute;
            bottom: 2%;
            background-color: map.get(v.$colors, "pearlWhite");
            @include m.center-flex(none, center, center, none, 8vh, 100%);

            .footer_p{
                color: map.get(v.$colors, "jetBlack");
                @include m.font-style(.85vw, none, 1.5px, none, center, none);

            }
        }
    }
}