@use "sass:map";
@use '/resources/scss/abstracts/mixin' as m;
@use '/resources/scss/abstracts/variables' as v;

* {
    @include m.spacing(0%, 0%);
    box-sizing: border-box;
}

body {
    @include m.center-grid(25% 1fr, 20vh 80vh, 100vh, 100vw);
    grid-template-areas:
        "headerCategory headerCategory"
        "navCategory mainCategory";

    .container_header {
        border: 1px solid black;
        grid-area: headerCategory;
        @include m.center-flex(none, center, end, none, 100%, 100vw);
    }

    .container_nav {
        grid-area: navCategory;
        @include m.size(100%, 100%);
        box-shadow: 35px 0 5px map.get(v.$colors, "middleGray");
    }

    .main_categories {
        grid-area: mainCategory;
        @include m.size(100%, 100%);
        padding: 1%;
        padding-left: 1%;

        .container_categories {
            @include m.center-flex(row, start, start, 1vw, 100%, 95%);
            margin-left: 3vw;
            padding: 3%;
            overflow-x: auto;
            flex: 0 0 auto;
            max-width: 98%;
            flex-wrap: wrap;
            overflow-y: scroll;
            scrollbar-width: none;
        
              .span_outlet {
                @include m.center-grid(1fr, 90% 10%, 85%, 18.8%);
                flex-shrink: 0;
                max-width: 18.7%;
                position: relative;
              
                    .figure_outlet {
                        position: relative;
                        @include m.center-flex(row, center, center, none, 100%, 100%);
                        overflow: hidden; 
                
                    .image_outlet {
                        @include m.size(99%, 100%);
                        object-fit: cover;
                        border: 1px solid black;
                        transition: transform 0.3s ease; 
                    }
                
                    .container_cart {
                        position: absolute;
                        bottom: -50px;
                        left: 0;
                        background: rgba(0, 0, 0, 0.85); 
                        color: white;
                        @include m.center-flex(column, center, center, .5vw, 100%, 100%);
                        transition: all 0.3s ease;
                        transform: translateY(100%); 
                        z-index: 10;
                        transition: .8s all;

                        .outlet_dates {
                            @include m.center-flex(column, center, center, 5vw, 78%, 100%);
                            padding-top: 12vw;
                        
                                .outlet_name {
                                    @include m.center-flex(column, center, center, none, 100%, 100%);
                        
                                .outlet_h3 {
                                    @include m.font-style(.7vw, bold, 0.5px, none, left, none);
                                }
                        
                                .outlet_p {
                                    @include m.font-style(0.85vw, none, 0.5px, none, left, none);
                                    padding-top: .5vw;
                                }

                                .outlet_price {
                                    padding-top: 2.5vw;
                                    padding-left: 0.8vw;
                                    @include m.font-style(1.1vw, none, 0.5px, none, left, none);
                                }
                            }
                        }

                        .btn_oulet{
                            @include m.center-flex(row, center, center, 4px, 20%, 100%);

                            a {
                                padding: 6% 20%;
                                border: 1px solid white;
                                background: map.get(v.$colors, "pureWhite");
                                color:  map.get(v.$colors, "midnightBlack");
                                cursor: pointer;
                                @include m.font-style(0.7vw, bold, 2px, none, center, none);
                                text-transform: uppercase;
                                margin-right: 5px;
                                text-decoration: none;
                                @include m.border-radius(3px);
                            }
                    
                            .oulet_card{
                                background-color: transparent;
                                border: none;
                                text-decoration: none;
                                padding: 1% 1%;

                                i {
                                    color: white;
                                    font-size: 1.2vw;
                                }
                            } 
                        }
                    }
                
                    &:hover {
                        .container_cart {
                            transform: translateY(0); 
                            bottom: 0; 
                        }
                
                        .image_outlet {
                            opacity: .7;
                            transition: .8s all;
                            transform: scale(1.05);  
                        }
                    }
                }
            }
        }        
    }
}
