@use "sass:map";
@use '/resources/scss/abstracts/mixin' as m;
@use '/resources/scss/abstracts/variables' as v;

* {
    @include m.spacing(0%, 0%);
    box-sizing: border-box;
}

body {
    @include m.center-grid(25% 1fr, 20vh 80vh, 100vh, 100vw);
    grid-template-areas:
        "headerCategory headerCategory"
        "navCategory mainCategory";

    .container_header {
        border: 1px solid black;
        grid-area: headerCategory;
        @include m.center-flex(none, center, end, none, 100%, 100vw);
    }

    .container_nav {
        grid-area: navCategory;
        @include m.size(100%, 100%);
        box-shadow: 35px 0 5px map.get(v.$colors, "middleGray");
    }

    .main_categories {
        grid-area: mainCategory;
        @include m.size(100%, 100%);
        padding: 1%;
        padding-left: 1%;

        .container_categories {
            @include m.center-flex(row, start, center, 3vw, 100%, 95%);
            margin-left: 3vw;
            padding: 2%;
            overflow-x: auto;
            flex: 0 0 auto;
            max-width: 95%;
            flex-wrap: wrap;
            overflow-y: scroll;
            scrollbar-width: none;
        
            .span_categories {
                @include m.center-grid(1fr, 90% 10%, 85%, 25%);
                flex-shrink: 0;
                max-width: 21.6%;
                position: relative;
                margin-bottom: -1.3vw;
        
                .figure_categories {
                    position: relative;
                    @include m.center-flex(row, center, center, none, 100%, 100%);
                    overflow: hidden;
        
                    .image_categories {
                        @include m.size(100%, 100%);
                        object-fit: cover;
                        border: 1px solid black;
                        transition: transform 0.3s ease;
                    }
        
                    .container_cart {
                        position: absolute;
                        bottom: -50px;
                        left: 0;
                        height: 20vh;
                        background: rgba(0, 0, 0, 0.7);
                        color: white;
                        @include m.center-flex(row, space-evenly, center, none, 10%, 100%);
                        padding: 8px 0;
                        transition: all 0.3s ease;
                        transform: translateY(100%);
                        z-index: 10;
                        transition: .8s all;
        
                        button {
                            padding: 3% 20%;
                            border: 1px solid white;
                            background: map.get(v.$colors, "pureWhite");
                            color: map.get(v.$colors, "midnightBlack");
                            cursor: pointer;
                            @include m.font-style(0.7vw, bold, 2px, none, center, none);
                            text-transform: uppercase;
                            margin-right: 5px;
                        }
        
                        i {
                            font-size: 1.05vw;
                        }
                    }
        
                    &:hover {
                        .container_cart {
                            transform: translateY(0);
                            bottom: 0;
                        }
        
                        .image_categories {
                            opacity: .7;
                            transition: .8s all;
                            transform: scale(1.05);
                        }
                    }
                }
        
                .categories_dates {
                    @include m.center-grid(1fr 30%, 1fr, 100%, 100%);
        
                    .categories_name {
                        @include m.center-flex(column, start, start, none, 100%, 100%);
                        padding-left: 0.3vw;
        
                        .categories_h3 {
                            padding-top: 0.4vw;
                            @include m.font-style(1.2vw, bold, 0.5px, none, left, none);
                        }
        
                        .categories_p {
                            padding-left: 0.1vw;
                            @include m.font-style(0.75vw, none, 0.5px, none, left, none);
                        }
                    }
        
                    .categories_price {
                        padding-top: 1vw;
                        padding-left: 0.1vw;
                        @include m.font-style(0.8vw, none, 0.5px, none, left, none);
                    }
                }
            }
        }        
    }
}
